html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.full-height {
    height: 100%;
}

a {
    color: rgb(0, 100, 200);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(0, 80, 160);
}

label {
    display: block;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

button {
    color: #333;
    background-color: #f4f4f4;
    outline: none;
}

button:disabled {
    color: #999;
}

button:not(:disabled):active {
    background-color: #ddd;
}

button:focus {
    border-color: #666;
}

.bg-home {
    background-image: url('assets/1/HOME-BACKGROUND.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}

.bg-action {
    background-image: url('assets/2/ACTION-BACKGROUND.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}

.bg-efficacy {
    background-image: url('assets/3/EFFICACY-BACKGROUND.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}

.bg-efficacy-blur {
    background-image: url('assets/3//clicked/EFFICACY-BACKGROUND-BLUR.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}

.bg-bioavailability {
    background-image: url('assets/4/BIOA-BACKGROUND-1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}

.bg-bioavailability-blur {
    background-image: url('assets/4/clicked/BIOA-BACKGROUND-2-BLUR.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}

.bg-covid19 {
    background-image: url('assets/5/COVID19-BACKGROUND.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}

.bg-covid19-blur {
    background-image: url('assets/5/clicked/COVID19-BACKGROUND-BLUR.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}

.bg-dosage {
    background-image: url('assets/6/DOSAGE-BACKGROUND.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
}